@use "variables" as *;

.tables-container {
  .divider {
    border: none;
    height: $space-1;
    width: 100%;
    background: #000;
    margin: 0;
    background: repeating-linear-gradient(
      90deg,
      $borders,
      $borders $space-4,
      transparent $space-4,
      transparent $space-12
    );
  }

  gap: $space-60;
}

::ng-deep {
  .table {
    .p-datatable-thead > tr > th:first-child {
      min-width: 270px;
    }

    .p-datatable-thead > tr > th {
      min-width: 177px;
    }

    .p-datatable-tbody > tr > td:not(:first-child) {
      > div:first-child {
        padding-left: $space-15;
      }
    }

    .p-datatable-tbody > tr > td:last-child {
      .status:first-child {
        justify-content: end;
      }
    }
  }
}

@media (max-width: $screen-md) {
  .table {
    gap: $space-60;
  }
}
