@use "../../../../../src/styles/variables" as *;

.vehicle-tag {
  border-radius: 6px;
  border: 1px solid $prim-shade-2;
  padding: 0 4px;
  color: $prim-shade-2;
  font-size: 13px;
}

.bolt {
  box-shadow: 0 0 10px 0 $success;
}

::ng-deep {
  .table {
    gap: 60px;

    .p-datatable-thead > tr > th:first-child {
      min-width: 270px;
    }

    .p-datatable-thead > tr > th {
      min-width: 177px;
    }

    .p-datatable-tbody > tr > td:not(:first-child) {
      > div:first-child {
        padding-left: 15px;
      }
    }

    .p-datatable-tbody > tr > td:last-child {
      .status:first-child {
        justify-content: end;
      }
    }
  }
}
