<div class="d-flex flex-column gap-20 table">
  <div class="d-flex gap-15">
    <p-iconfield iconPosition="left" class="flex-grow-1">
      <p-inputicon>
        <i class="pi pi-search"></i>
      </p-inputicon>
      <input
        pInputText
        #search
        type="text"
        placeholder="Search"
        [formControl]="searchControl"
      />
    </p-iconfield>
    <p-button
      class="export-btn"
      icon="pi pi-download"
      label="Export"
      (click)="exportMultipleShifts()"
    />

    <p-fileUpload
      class="import-btn"
      chooseIcon="pi pi-upload"
      mode="basic"
      accept=".csv"
      [maxFileSize]="1000000"
      label="Import"
      chooseLabel="Import"
      auto
      customUpload
      [chooseButtonProps]="{ severity: 'secondary' }"
      (uploadHandler)="onCSVImport($event)"
    />
  </div>

  <div class="d-flex flex-column tables-container">
    <ng-container
      *ngFor="
        let shift of shifts;
        trackBy: trackByFn;
        let first = first;
        let last = last
      "
    >
      <app-shift-details
        [shift]="shift"
        [stateKey]="'shift-history-' + shift.id"
      ></app-shift-details>

      <hr *ngIf="!last" class="divider" />
    </ng-container>
  </div>
</div>
