<div
  pRipple
  class="menu-item menu-header"
  [ngClass]="variant"
  [class.selected]="selected"
  [class.child]="item['isChild']"
  *ngIf="item"
  [class.expanded]="isExpanded(item)"
  (click)="onClickItem($event, item)"
  [attr.sub-menu]="''"
>
  <div class="icon">
    <img [src]="'../../../../../' + item.icon" alt="icon" />
  </div>
  <span class="label">{{ item.label }}</span>

  <span
    *ngIf="
      variant != 'shortcut' &&
      (variant != 'small' || item['isChild']) &&
      item['action']
    "
    [routerLink]="item['action'].link"
    class="ml-auto item-action"
    (click)="
      $event.stopPropagation();
      activeRoutingService.activeRouteChanged.emit(item)
    "
  >
    <img [src]="item['action'].icon" width="18" height="18" />
    {{ item["action"].name }}
  </span>

  <i
    *ngIf="
      variant != 'small' &&
      variant != 'shortcut' &&
      item.items &&
      item.items.length > 0
    "
    class="ml-auto pi"
    [ngClass]="{
      'pi-angle-down': !item.expanded,
      'pi-angle-up': item.expanded
    }"
  ></i>
</div>

<!-- Submenu under expanded area -->
<div *ngIf="item?.items && isExpanded(item)" class="menu-content">
  <app-sidebar-menu-item
    *ngFor="let sub of item?.items!"
    (click)="navigate(sub)"
    variant="small"
    [item]="sub"
    [selected]="sub.id == activeRoutingService.activeRoute"
  ></app-sidebar-menu-item>
</div>
