$font-10: 0.625rem; // 10px
$font-12: 0.75rem; // 12px
$font-13: 0.8125rem; // 13px
$font-14: 0.875rem; // 14px
$font-15: 0.9375rem; // 15px
$font-16: 1rem; // 16px
$font-17: 1.0625rem; // 17px
$font-18: 1.125rem; // 18px
$font-19: 1.1875rem; // 19px
$font-70: 4.375rem;
