<div class="d-flex flex-column dashboard-gap">
  <div
    style="
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(136px, 1fr));
      gap: 20px;
    "
  >
    <ng-container *ngFor="let card of cards">
      <app-metric-card
        [title]="card.label"
        [value]="card.value"
        [total]="card.total"
        [showProgress]="!!(card.value && card.total)"
        [bgOpacity]="card.opacity"
      ></app-metric-card>
    </ng-container>
  </div>

  <div class="d-flex flex-column tables-container">
    <app-shifts-history
      [products]="products"
      [showSearchAndActions]="true"
      stateKey="shift-history-one"
    ></app-shifts-history>

    <hr class="divider" />

    <app-shifts-history
      [products]="products"
      stateKey="shift-history-two"
    ></app-shifts-history>
  </div>
</div>
