@use "../../../src/styles/variables" as *;
@use "sass:color";

.tables-container {
  .divider {
    border: none;
    height: 1px;
    width: 100%;
    background: #000;
    margin: 0;
    background: repeating-linear-gradient(
      90deg,
      $borders,
      $borders 4px,
      transparent 4px,
      transparent 12px
    );
  }

  gap: 60px;
}
