@use "variables" as *;
@use "sass:color";

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(136px, 1fr));
  gap: $space-10;
}

.dashboard-gap {
  gap: $space-30;
}

@media (max-width: $screen-md) {
  .dashboard-gap {
    gap: $space-60;
  }
}
