$primary-soft: #252836;
$primary-bg-deep: #10141A;
$primary-bg: #1F1D2B;
$text-prim: #CECBDE;
$text-light: #706D7E;
$primary-tint: #00C5D6;
$text-sec: #9E9BAD;
$borders: #464353;
$prim-shade-2: #9E9BAD;
$success: #4DBF77;
$prim-shade: #CECBDE;
$primary-contrast: #1F1D2B;
$btn-prim-bkg: #252836;
$btn-nav-prim-bkg: #252836;
$btn-nav-prim-bkg-click-focus: #00C5D6;
$btn-nav-prim-text: #706D7E;
$btn-nav-prim-modals: #464353;
$Danger: #FF3F69;