@use "variables" as *;
@use "sass:color";

@import "primeicons/primeicons.css";

$dark-btn-green: color.adjust($Com-success-2, $lightness: -20%);

body {
  font-family: "Poppins", sans-serif;
  background-color: $primary-soft;
  margin: 0;
}

.primary-bg {
  background-color: $primary-bg;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.gap-5 {
  gap: $space-5;
}
.gap-10 {
  gap: $space-10;
}

.gap-15 {
  gap: $space-15;
}

.gap-20 {
  gap: $space-20;
}

.gap-30 {
  gap: $space-30;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.flex-grow-1 {
  flex-grow: 1;
}

.m-0 {
  margin: 0;
}

.p-inputtext {
  background-color: $primary-contrast !important;
  border-radius: $space-10 !important;
  padding-right: $space-5;
  padding-left: $space-5;
  border-color: $primary-contrast !important;
  color: $text-light !important;
  font-size: $font-14;
}

.ml-auto {
  margin-left: auto;
}

.w-100 {
  width: 100%;
}

.text-capitalize {
  text-transform: capitalize;
}

.table {
  .p-datatable .p-datatable-tbody > tr {
    background-color: transparent;
    font-size: $font-14;
    color: $text-prim;
  }

  .p-datatable-tbody > tr > td {
    border-color: $borders !important;
  }

  .p-datatable .p-datatable-tbody > tr:hover {
    cursor: pointer;
  }

  .p-datatable-tbody > tr > td {
    padding: $space-15;
    white-space: nowrap;
  }

  .p-datatable-thead > tr > th {
    background-color: $primary-bg !important;
    color: $text-sec !important;
    font-size: $font-14;
    border-color: $borders !important;
  }

  .p-datatable-header {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin-bottom: $space-20;
  }

  .table-title {
    font-size: $font-14;
    font-weight: 700;
    color: $text-prim;
  }

  .table-description {
    font-size: $font-14;
    color: $text-prim;
  }

  .p-inputtext {
    width: 100%;
    font-size: $font-14;
    color: $text-light;
  }

  .p-iconfield .p-inputicon:first-child {
    inset-inline-start: $space-15 !important;
    .pi {
      font-size: $font-19;
    }
  }

  .p-iconfield .p-inputtext:not(:first-child),
  .p-iconfield .p-inputwrapper:not(:first-child) .p-inputtext {
    padding-inline-start: $space-55 !important;
  }

  .p-inputicon {
    top: 47% !important;
  }

  .export-btn,
  .import-btn {
    .p-button {
      background-color: $btn-prim-bkg !important;
      border-color: $btn-prim-bkg !important;
      box-shadow: 0 $space-1 $space-1 0 #02001799;
      color: $text-prim;
      font-size: $font-14;
      padding-right: $space-16;
      padding-left: 0;
      gap: 0;

      .pi {
        width: $space-40;
        font-size: $font-12 !important;
      }

      plusicon {
        width: $space-40;

        svg {
          font-size: $font-12 !important;
        }
      }

      &:hover {
        background-color: $primary-contrast !important;
      }
    }
  }

  .p-button-outlined.p-button-contrast {
    flex-direction: row-reverse;
    padding: $space-5;
    color: $text-prim;
    border: $space-1 solid $prim-shade;
    font-size: $font-14;
  }

  .columns-plus {
    background-color: $btn-prim-bkg;
    box-shadow: 0 $space-1 $space-1 0 #02001799;
    border-radius: $space-10;
    width: $space-40;
    height: $space-40;
    display: flex;
    align-items: center;
    justify-content: center;

    p-multiselect {
      z-index: 2;
    }

    .p-multiselect-dropdown {
      width: $space-40;
      height: $space-40;
    }
    .p-multiselect-label {
      display: none;
    }
    .p-multiselect-dropdown {
      background-color: $btn-prim-bkg;
      border-radius: $space-10;
      opacity: 0;
    }

    .p-multiselect {
      border: none;
      position: relative;
      background: transparent;
    }

    .p-multiselect .p-multiselect-trigger::after {
      content: "";
      background-image: "./assets/icons/invoice.svg";
    }

    .col-plus-icon {
      position: absolute;
      z-index: 1;
    }

    .p-multiselect-overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: unset;
      width: 200px;
      background-color: $btn-prim-bkg;
      border: none;
    }

    .p-multiselect-option.p-multiselect-option-selected.p-focus {
      background: transparent;
    }

    .p-multiselect-option.p-multiselect-option-selected {
      background: transparent;
    }

    .p-multiselect-list {
      li {
        font-size: $font-13;
        color: $text-prim;

        .p-checkbox-checked .p-checkbox-box {
          background: $success;
          border-color: $success;
        }
      }
    }
  }

  p-sorticon {
    sortalticon,
    sortamountdownicon,
    sortamountupalticon {
      width: $space-25;
      svg {
        height: $space-12;

        path {
          fill: $borders;
        }
      }
    }
  }

  .p-datatable-table-container {
    &::-webkit-scrollbar {
      width: $space-4;
      height: $space-2;
    }

    &::-webkit-scrollbar-track {
      background: $borders;
      border-radius: $space-10;
    }

    &::-webkit-scrollbar-thumb {
      background: $primary-bg-deep;
      border-radius: $space-10;
      transition: background 0.3s ease;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $primary-bg-deep;
    }
  }
}

.btn-cancel {
  .p-button-text {
    background-color: transparent !important;
    border-color: transparent !important;
    padding: $space-10 $space-16;
    font-size: $font-14;
    color: $btn-prim-text;

    &:hover {
      color: $dark-btn-green !important;
    }

    &:active {
      color: $dark-btn-green !important;
    }
  }

  .p-button:focus-visible {
    outline: unset !important;
  }
}

.btn-primary {
  .p-button {
    border-radius: $space-10;
    background-color: $Com-success-2 !important;
    border-color: $Com-success-2 !important;
    padding: $space-10 $space-15;
    font-size: $font-14;
    color: $btn-prim-text-click-focus;

    &:hover {
      background-color: $dark-btn-green !important;
      border-color: $dark-btn-green !important;
    }

    &:active {
      background-color: $dark-btn-green !important;
      border-color: $dark-btn-green !important;
    }
  }
}

.form {
  padding: $space-30;

  .field-label {
    color: $text-light !important;
    font-size: $font-13;
    line-height: $space-21;
  }

  .field-label.required {
    color: $text-sec !important;

    .required-star {
      color: $Danger;
    }
  }

  .p-inputtext {
    background-color: transparent !important;
  }

  .p-inputtext,
  .p-select {
    background-color: $primary-bg !important;
    border-radius: $space-10 !important;
    padding: $space-13 $space-8;
    padding-left: $space-15;
    border-color: $primary-bg !important;
    color: $text-prim !important;
    font-size: $font-14;
  }

  .p-select-label {
    padding: 0;
    font-size: $font-14;
  }

  p-iconfield .p-inputtext {
    padding-left: $space-40;
    width: 100%;
  }

  .p-toggleswitch-handle {
    width: $space-14;
    height: $space-14;
    top: 54%;
    background: $primary-bg;
  }

  .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
    background: $primary-tint;
    .p-toggleswitch-handle {
      background: $primary-bg;
    }
  }

  .p-toggleswitch:not(.p-disabled):has(
      .p-toggleswitch-input:hover
    ).p-toggleswitch-checked
    .p-toggleswitch-slider {
    background: $primary-tint;
    .p-toggleswitch-handle {
      background: white;
    }
  }

  small {
    color: $Danger;
    font-size: $font-12;
    font-weight: 400;
    padding: 0 $space-5;
  }
}

@media (max-width: $screen-md) {
  .table {
    .export-btn,
    .import-btn {
      .p-button {
        padding-right: 0 !important;
        .p-button-label {
          display: none;
        }
      }
    }
  }

  .form {
    padding-left: 0;
    padding-right: 0;
  }
}
