@use "../../../src/styles/variables" as *;

.layout {
  display: flex;
  height: 100vh;

  .menu-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 20px;

    ::ng-deep {
      .p-panelmenu-panel {
        background-color: transparent !important;
        border: none !important;
        padding: 2px 10px !important;
        border-radius: 4px !important;
      }

      .p-panelmenu-header-content:hover {
        background-color: transparent !important;
      }

      .p-panelmenu-header:not(.p-disabled) .p-panelmenu-header-content:hover {
        background: $primary-bg !important;
      }
      .p-panelmenu-item:not(.p-disabled) > .p-panelmenu-item-content:hover {
        background: $primary-bg !important;
      }

      .p-panelmenu-submenu {
        border-radius: 8px !important;
        padding: 2px 10px !important;
        padding-left: 35px !important;
      }

      .p-tieredmenu {
        min-width: unset !important;
        background: transparent !important;
        border: none !important;
      }
      .p-tieredmenu-item:not(.p-disabled) > .p-tieredmenu-item-content:hover {
        background: transparent !important;
      }
      .p-tieredmenu-item-active > .p-tieredmenu-item-content {
        background: transparent !important;
      }

      .p-tieredmenu-submenu {
        background: $primary-bg-deep !important;
        border: none !important;
      }

      .p-panelmenu-item.p-focus > .p-panelmenu-item-content {
        background: transparent !important;
      }

      .p-tieredmenu-item.p-focus > .p-tieredmenu-item-content {
        background: transparent !important;
      }
      .p-tieredmenu-item:not(.p-tieredmenu-item-active):hover {
        background-color: $primary-bg !important;
      }
    }
  }

  .sidebar {
    width: 304px;
    background-color: $primary-bg-deep;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
    box-shadow: 16px 0 30px 0 rgb(0, 0, 0, 0.2);

    .toggle-btn {
      ::ng-deep .p-button-icon-only {
        width: 100% !important;
      }

      ::ng-deep .p-button {
        border-radius: 0;
        border: none;
        background-color: $primary-bg;
        padding: 6px;
        font-size: 18px;
        color: $text-sec;
      }

      ::ng-deep .p-button:focus-visible {
        outline: unset !important;
      }
    }

    .full-logo {
      width: 152.64px;
    }

    .logo {
      width: 64px;
    }

    &.collapsed {
      width: 96px;
      .menu-container {
        justify-content: center;
      }
      .user {
        justify-content: center;
      }
    }
  }

  .mobile-header {
    display: none;
    background: $primary-bg-deep;
    padding: 15px;
    box-shadow: 0 16px 30px 0 rgba(0, 0, 0, 0.3);
    border-right: 2px solid $primary-bg-deep;

    button {
      color: #fff;
    }

    .logo {
      width: 64px;
    }

    .user {
      padding: 0;
    }

    ::ng-deep {
      .p-button-text:not(:disabled):hover {
        background-color: unset !important;
      }

      .p-button {
        padding: 0;

        .pi {
          font-size: 19px;
          color: $text-sec;
        }
      }
    }
  }

  .top-sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    background: $primary-bg-deep;
    box-shadow: 0 16px 30px 0 rgba(0, 0, 0, 0.3);
    transition: height 0.3s ease;
    z-index: 1001;
    gap: 20px;

    .logo {
      width: 64px;
    }

    &.open {
      padding: 25px;
      border-radius: 15px;
      height: 600px;
      max-height: fit-content;
    }

    .sidebar-content {
      padding: 1rem;
    }

    ::ng-deep {
      .p-panelmenu {
        gap: 20px;
      }

      .p-panelmenu-submenu {
        gap: 20px;
        display: flex;
        flex-direction: column;
        padding-top: 20px !important;
      }
    }

    .close-btn {
      ::ng-deep .p-button {
        color: $text-sec;
        font-size: 16px;
        background-color: transparent;
        padding: 0;
        border: 0;

        .pi {
          font-size: 16px;
          color: $text-sec;
        }
      }
    }

    .user {
      height: 98px;
      display: flex;
      align-items: end;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($primary-soft, 0.7);
    z-index: 1000;
  }

  .content {
    flex: 1;
    padding: 20px 30px;
    transition: margin-left 0.3s ease;
    overflow: hidden;
    overflow-y: auto;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .sidebar {
      display: none;
    }

    .mobile-header {
      display: flex;
    }
  }
}

.user {
  gap: 15px;
  padding: 0 15px;
  color: $text-prim;
  font-size: 14px;

  .user-name {
    font-weight: 700;
  }

  .user-img {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border: 2px solid $btn-nav-prim-modals;
    border-radius: 15px;
  }
}
