@use "variables" as *;

.header {
  border-bottom: $space-1 solid $borders;
  padding-bottom: $space-15;
  color: $text-prim;
  font-size: $font-14;
  .title {
    font-weight: 700;
  }

  .back {
    cursor: pointer;
  }
}

.user-img {
  border-radius: $space-15;
}

.form {
  padding: $space-30;

  .field-label {
    color: $text-light !important;
    font-size: $font-13;
    line-height: $space-21;
  }

  .field-label.required {
    color: $text-sec !important;

    .required-star {
      color: $Danger;
    }
  }

  ::ng-deep {
    .p-inputtext {
      background-color: transparent !important;
    }

    .p-inputtext,
    .p-select {
      background-color: $primary-bg !important;
      border-radius: $space-10 !important;
      padding: $space-13 $space-8;
      padding-left: $space-15;
      border-color: $primary-bg !important;
      color: $text-prim !important;
      font-size: $font-14;
    }

    .p-select-label {
      padding: 0;
      font-size: $font-14;
    }

    p-iconfield .p-inputtext {
      padding-left: $space-40;
    }

    .p-button {
      border-radius: $space-10;
      padding: $space-10 $space-15;
      padding-left: 0;
      background-color: $primary-contrast;
      border-color: $primary-contrast;
      color: $text-prim !important;
      font-size: $font-14;
      box-shadow: 0 $space-1 $space-1 0 #02001799;
    }

    .p-button .pi {
      font-size: $font-16;
      padding: $space-12;
    }
  }

  small {
    color: $Danger;
    font-size: $font-12;
    font-weight: 400;
    padding: 0 $space-5;
  }
}

.user-fullname {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: start;
}

.form-container {
  max-width: 653px;
  width: 100%;
  margin-top: $space-60;
}

.cancel-btn {
  ::ng-deep .p-button-text {
    background-color: transparent !important;
    border-color: transparent !important;
    padding: $space-10 $space-16;
    font-size: $font-14;
    color: $btn-prim-text;
  }

  ::ng-deep .p-button:focus-visible {
    outline: unset !important;
  }
}

.save-btn {
  ::ng-deep .p-button {
    border-radius: $space-10;
    background-color: $Com-success-2 !important;
    border-color: $Com-success-2 !important;
    padding: $space-10 $space-15;
    font-size: $font-14;
    color: $btn-prim-text-click-focus;
  }
}

@media (max-width: $screen-md) {
  .form {
    padding-left: 0;
    padding-right: 0;
  }
  .user-fullname {
    grid-template-columns: auto;
  }
}
