@use "variables" as *;

.header {
  border-bottom: $space-1 solid $borders;
  padding-bottom: $space-15;
  color: $text-prim;
  font-size: $font-14;
  .title {
    font-weight: 700;
  }

  .back {
    cursor: pointer;
  }
}

.user-img {
  border-radius: $space-15;
}

.form {
  ::ng-deep {
    .p-button {
      border-radius: $space-10;
      padding: $space-10 $space-15;
      padding-left: 0;
      background-color: $primary-contrast;
      border-color: $primary-contrast;
      color: $text-prim !important;
      font-size: $font-14;
      box-shadow: 0 $space-1 $space-1 0 #02001799;
    }

    .p-button .pi {
      font-size: $font-16;
      padding: $space-12;
    }
  }
}

.user-fullname {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: start;
}

.form-container {
  max-width: 653px;
  width: 100%;
  margin-top: $space-60;
}

@media (max-width: $screen-md) {
  .user-fullname {
    grid-template-columns: auto;
  }
}
