<div class="header d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center gap-30">
    <img src="../../../../../assets/icons/users.svg" />
    <div class="d-flex flex-column gap-5">
      <label class="title">Users</label>
      <label>Organization</label>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <p-button
      label="Add User"
      icon="pi pi-plus"
      class="btn-primary"
      [routerLink]="['/organization/users/add']"
    />
  </div>
</div>

<div class="table">
  <app-data-table
    [value]="users"
    [columns]="columns"
    [globalFilterFields]="globalFilterFields"
    [dataKey]="dataKey"
    [showImport]="false"
  ></app-data-table>
</div>
