@use "variables" as *;

.header {
  border-bottom: $space-1 solid $borders;
  padding-bottom: $space-15;
  color: $text-prim;
  font-size: $font-14;
  margin-bottom: $space-30;

  .title {
    font-weight: 700;
  }

  img {
    width: 2rem;
  }
}
